cpuData.csv memData.csv netData.csv pingData.csv
relatorioDe02_12_2023 0346_Ate_02_12_2023 0349.pdf relatorio.pdf
graficos_relatorio/frequence.png graficos_relatorio/mem_free.png graficos_relatorio/temperatura.png graficos_relatorio/uso_cpu.png graficos_relatorio/uso_mem.png graficos_relatorio/uso_rede.png
interfaces
